//  about section
#about{
    @extend %section;
    height: 100vh;

    @include smartphone-horizontal{
        padding-top: 15vh;
        padding-bottom: 50vh;
    }
    .about-container{
        display: grid;
        place-items: center;
        height: 100%;
        width: 100%;

        .text-container{
            @include tablet-horizontal{
                margin-left: 50px;
            }
            
            @include tablet-vertical{
                margin-left: 100px;
            }
            @include smartphone-vertical{
                margin-left: 10px;
            }
        }

        h2{
            font-size: clamp(2rem, 5vw, 3rem);
            @include smartphone-vertical{
                font-size: 2rem;
            }
        }

        p{
            width: 75ch;
            font-size: clamp(1rem, 5vw, 1.5rem);
            line-height: 1.8;

            @include smartphone-vertical{
                width: 30ch;
            }

            @include tablet-vertical{
                width:90% ;
                font-size: 1.5rem ; 
            }
            @include tablet-horizontal {
                width:90% ;
            }

            @include smartphone-vertical{
                font-size: 1rem;
            }

        }

        }
        
        .phrase {
            color: darken($primary-font-color, 20%);
            transition: color ease;
        
            @for $i from 1 through 8 {
                &:nth-child(#{$i}) {
                    transition-delay: $i * 0.1s;
                }
            }
        
            &.active {
                color: lighten($primary-font-color, 20%);
            }
        }
    }
